<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN 2.0//EN"
			"https://www.springframework.org/dtd/spring-beans-2.0.dtd">
<beans>
 <bean id="testA" class="com.workshop.springdemo.beans.ApplicationContextAwareBean"/>
    <bean id="appcontext" class="com.workshop.springdemo.ApplicationContextAwareImpl"/>

</beans>